[Unit]
Description=RaspWatch Web Dashboard
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/RaspWatch/backend
ExecStart=/home/pi/RaspWatch/backend/venv/bin/python main.py
Restart=on-failure
Environment=PORT=9090

[Install]
WantedBy=multi-user.target
